
<h1>Get Cool URL view</h1>
<p> You selected <em> <%= @radio1 %> </em> for radio 1.  </p>
<p> You selected <em> <%= @radio2 %> </em> for radio 2.  </p>
<p> You gave a get request with <em> <%= @value %></em>  </p>
<p> In the textbox, you wrote <em> <%= @textbox %> </em> </p>