<h1>Post Cool URL view</h1>
<p> You selected <em> <%= @radio3 %> </em> for radio 3.  </p>
<p> You selected <em> <%= @radio4 %> </em> for radio 4.  </p>
<p> You gave a post request with <em> <%= @value %></em> </p>
<p> In the textbox, you wrote <em> <%= @textbox %> </em> </p>
